% rebase('base.html', title='Account')
<section>
<h1>{{account.name}}</h1>
<span>Balance {{sum([p.amount for p in account.posts])}}</span>
<table class="ledger">
    <thead>
            <tr><th>Date Time</th><th>Batch</th><th></th></tr>
            <tr><th colspan="2">Memo</th><th colspan="2">Amount</th></tr>
    </thead>
    <tbody>
    % for post in account.posts:
        <tr><td>{{post.journal.fmt_datetime}}</td>
            <td><a href="{{url('batch_view', id=post.journal.batch_id)}}">{{post.journal.batch_id}}</a></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"><a href="{{url('journal_entry_view', id=post.journal.id)}}">{{post.memo or post.journal.memo}}</a></td></td>
            <td>{{post.fmt_amount}}</td>
        </tr>
    % end
    </tbody>
</table>
</section>
<script type='text/javascript'>

</script>
