% import datetime
% from RecordSheet import __version__
% ses = www_session()
% sep = "-" if title else ""
% nav = get('nav', True)
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ses['csrf-token']}}">
    <meta name="app-root" content="{{request['SCRIPT_NAME']}}">
    <link href="{{url('static', filename='base.css')}}" rel="stylesheet" />
    <link href="{{url('static', filename='print.css')}}" rel="stylesheet" media="print" />
% for css in get('extra_css', []):
    <link href="{{url('static', filename=css)}}" rel="stylesheet"/>
% end
    <script type='text/javascript' src="{{url('static', filename='knockout-3.3.0.js')}}"></script>
    <script type='text/javascript' src="{{url('static', filename='main.js')}}"></script>
    <title>RecordSheet{{sep}}{{title}}</title>
</head>
<body>
<header>
    <a href="{{url('index')}}"><h1>RecordSheet</h1></a>
% if nav:
    <nav class="menu">
        <ul class="menubar">
            <li><a href="{{url('account_chart')}}">Accounts</a></li>
            <li>Transactions&#9660;
                <ul class="submenu">
                    <li><a href="{{url('new_transaction')}}">New Transaction</a></li>
                    <li><a href="{{url('import_tr')}}">Import Data</a></li>
                    <li><a href="{{url('imported_tr')}}">Imported Data</a></li>
                </ul>
            </li>
            <li><a href="{{url('report_list')}}">Reports</a></li>
            <li>More&#9660;
                <ul>
                % if 'batch' in ses and ses['batch'].id:
                    <li><a href="{{url('batch_view', id=ses['batch'].id)}}">Current Batch</a></li>
                % end
                %# if 'user_id' in ses:
                    <li><a href="{{url('me')}}">Settings</a></li>
                    <li><a href="{{url('logout')}}">Logout</a></li>
                % end
                </ul>
            </li>
        </ul>
    </nav>
% end
</header>
<main>
{{!base}}
</main>
<footer>
    <span>RecordSheet {{__version__}}</span>
    <span>Generated {{datetime.datetime.now()}}</span>
</footer>
</body>
</html>
