% rebase('base.html', title='Import Data')
% ses = www_session()
<section>
<h1>Import Data</h1>
<form method="post" enctype="multipart/form-data" id="import">
    <label>File to upload</label>
    <input id="fileul" type="file" name="upload"></input>
    <label>Format</label>
    <select name="file_format">
    % for fmt in mport_formats:
        <option>{{fmt}}</option>
    % end
    </select>
    <label>Account</label>
    <input data-bind="autoAcct: account" type="search" name="account_name"/>
    <input type="hidden" name="csrf-token" value="{{ses['csrf-token']}}" />
    <button>Upload</button>
</form>
<script type="text/javascript">
var ViewModel = function() {
    var self = this;
    self.account = ko.observable("");
};

ko.applyBindings(new ViewModel());
</script>
</section>
