body {
    background: #dbdbdb;
    margin: 0;
    padding-bottom: 20px;
}

header {
/*    margin-top: 0;*/
    padding-top: 10px;
    background: #B4ADA3;
    width: 100%;
    text-align: center;
}

header a {
    color: #000;
    font: sans-serif;
    text-decoration: none
}

header a:visited {color: #000}

main {
    margin-left: auto;
    margin-right: auto;
    max-width:880px;
}

.errorBox {
    background: #EF5858;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    color: #FFF;
}

form.create-acct label {
    display: inline-block;
    min-width: 40px;
}

form.create-acct {
    background: #C6CACE;
    padding: 20px;}

table {
    font-size: 100%;
    border-collapse:collapse;
}

table.ledger thead {
    background: #80AB82;
    text-align: left;
}
table.ledger thead > tr:last-child > th {padding-left: 10px}
table.ledger tbody > tr:nth-child(odd) {background: #C8D5B9}
table.ledger tbody > tr:nth-child(odd) > td {padding-right: 10px}
table.ledger tbody > tr:nth-child(even) {background: #CCDDBA}
table.ledger tbody > tr:nth-child(even) > td {padding-left: 10px}
table.ledger tbody td:last-child {text-align: right}

table.journal {width:100%}
table.journal thead {
    background: #80AB82;
    text-align: left;
}

table.journal tbody:nth-child(odd) {background: #C8D5B9}
table.journal tbody:nth-child(even) {background: #CCDDBA}
table.journal tbody > tr:nth-child(n+2) > td:first-child {
    padding-left: 5em;
    vertical-align: top;
}
table.journal td:last-child {text-align: right}

table.import th {background: #80AB82}
table.import thead tr:last-child th:last-child {text-align: right}
table.import tbody:nth-child(odd) {
    background: #C8D5B9;
}

table.import tbody td {vertical-align: top}
table.import tbody:nth-child(even) {background: #CCDDBA}
table.import tbody tr:last-child td:last-child {text-align: right}
table.import tfoot {text-align: center}

footer {
    font-size: small;
    bottom: 0; 
    position:fixed;
    background: #EEF0F2;
}

.redneg {color: red}

.create_tr {
    background: #C6CACE;
    max-width: 100%;
    padding: 20px;
}

.create_tr .jmemo {
    width: 98%;
}

.create_tr table {
    width: 100%;
}

.create_tr table td:first-child {
    width: 55%;
}
.create_tr table td input {
    width: 100%;
}

.create_tr a {
    text-decoration: none;
}

.create_tr ol {
    list-style-type: none;
    padding-left: 0;
}


.edit-user {
    background: #C6CACE;
    padding: 20px;
}

.edit-user label {
    display: inline-block;
    width: 16ex;
}

.lorem-ipsum > p::first-letter {
    color: crimson;
    font-size: 150%;
    font-family: cursive;
}

.menu {background: #373F51;}

.menubar {
  text-align: left;
  display: inline;
  padding: 15px 4px 17px 0;
  list-style: none;
}

.menubar a {
  text-decoration: none;
  color: #DBDBDB;
  padding: 15px 20px;
}
.menubar a:visited{color: #DBDBDB}

.menubar > li > a {
  margin-left: -20px;
  margin-right: -20px;
}

.menubar li {
  font: bold 12px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #373F51;
  color: #DBDBDB;
  cursor: pointer;
  transition: all 0.2s;
}

.menubar > li:hover {
  background: #46494C;
  color: #fff;
}

.menubar li ul {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    padding: 0;
    width: 150px;
}

.menubar li ul li {
  background: #46494C;
  display: block;
  color: #fff;
  padding: 0;
  transition: all 0.2s;
}

.menubar li > ul > li > a {display: block}

.menubar li ul li:hover {
    background: #595959;
    color: #fff;
}
.menubar li:hover ul {display: block}
